.main {
  background-color: #1f2833;
  position: relative;
}

.home {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(31, 40, 51, 0.94),
      rgba(11, 12, 16, 0.94)
    ),
    url(/public/images/front.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  z-index: 2;
  color: #c5c6c7;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.main_heading {
  font-weight: bold;
  text-transform: uppercase;
}

.secondary_heading {
  padding: 2rem 0;
  color: #c5c6c7;

  text-align: center;
}

.main_heading span {
  color: #66fcf1;
}

.secondary_heading span {
  color: #66fcf1;
}

.initial_state,
.secondary_state {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #c5c6c7;
  transition: all 0.5s;
  border: 1px solid #66fcf1;

  /* -webkit-transition: all 0.5s ease-out; */
  /* -moz-transition: all 0.5s ease-out; */
  /* -o-transition: all 0.5s ease-out; */
  transition: all 0.5s ease-out;
}

.initial_state {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 2rem;
}

.secondary_state {
  position: fixed;
  right: 2rem;
  bottom: 2rem;

  color: #1f2833;
  background-color: #45a29e;

  border-radius: 50%;
  height: 5rem;
  width: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary_state::after {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 50%;
  border: 1px solid #45a29e;
  animation: pulse 1s infinite;
  animation-delay: 0.5s;
}

@keyframes pulse {
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

.initial_state:hover {
  color: #1f2833;
  background-color: #45a29e;
}

.secondary_state:hover {
  color: #c5c6c7;

  background-color: #1f2833;
}

.head {
  position: absolute;
  bottom: 0 !important;
  transform: scale(0.8);
}

.about {
  background-color: #0b0c10;
}

.projects {
  background-color: #0b0c10;
}

.contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .clip {
  position: absolute;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 36%, 0 63%);
}

.clip {
  background: linear-gradient(
    307deg,
    #c5c6c7,
    #66fcf1,
    #45a29e,
    #1f2833,
    #0b0c10
  );
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
} */

@media (max-width: 1000px) {
  .border {
    left: -5rem;
  }
}

@media (max-width: 940px) {
  .about {
    padding: 0 3rem;
  }
}

@media (max-width: 700px) {
  .secondary_state {
    height: 3rem;
    width: 3rem;
    font-size: 0.8rem;

    right: 0.5rem;
    bottom: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: #c5c6c7;
}

::-webkit-scrollbar-thumb {
  background-color: #45a29e;
  border-radius: 10px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: #66fcf1;
} */
