.main {
  background-color: black;
}

.home {
  height: 100vh;
}

.hero {
  color: white;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_heading {
  font-weight: bold;
}

.secondary_heading {
  padding: 2rem 0;
  color: white;
  text-align: center;
}

.main_heading span {
  color: red;
}

.secondary_heading span {
  color: red;
}
