.navbar {
  background-color: transparent;
}

.link {
  color: #c5c6c7 !important;

  font-weight: 700 !important;
}

.link:hover {
  color: #45a29e !important;
}

.links {
  position: relative;
}

.underline {
  height: 3px;
  width: 100%;
  background-color: #45a29e;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  transition: 0.4s;
}
