.container {
  display: flex;
  justify-content: space-around !important;
}

.navbar {
  background-color: transparent;
}

.container span {
  filter: invert(53%) sepia(62%) saturate(338%) hue-rotate(128deg)
    brightness(94%) contrast(91%);
}

.logo {
  color: #c5c6c7;
  font-weight: bolder;
}
.logo:hover {
  color: #c5c6c7;
}

.link {
  color: #c5c6c7 !important;
  font-weight: 700 !important;
  margin-right: 1rem;
}

.link:hover {
  color: #45a29e !important;
}

.links {
  position: relative;
}

.underline {
  height: 3px;
  width: 100%;
  background-color: #45a29e;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  transition: 0.4s;
}

.show {
  color: #45a29e !important;
}

.collapse {
  flex-grow: 0 !important;
  align-items: center;
}

.show {
  z-index: 9999;
}
