.container {
  gap: 2rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  position: relative;
}

.card {
  background-color: transparent !important;
  border: none;
  position: relative;
  transition: 0.5s;
}

.card:hover {
  background-color: #1f2833 !important;
}

.face {
  transition: 0.4s;
}

.face1 {
  z-index: 1;
  height: 10rem;

  transform: translateY(100px);
}

.face2 {
  height: 10rem;
}

.face2 {
  position: relative;
  transform: translateY(-80px);
}

.card:hover .face.face1 {
  transform: translateY(0);
}

.card:hover .face.face2 {
  transform: translateY(0);
}

.img {
  height: 100%;
  width: 100%;
}

.title {
  color: #c5c6c7;
  text-align: center;
  padding-top: 1rem;
}

.text {
  color: #45a29e;
  text-align: center;
  font-weight: 500;
}

.btn {
  text-decoration: none;
  color: #c5c6c7;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid #66fcf1;
  padding: 0.3rem 1rem;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  color: #1f2833;
  background-color: #45a29e;
}
