.container {
  padding: 3rem 0;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 0 !important;
}

.wrapper img {
  height: 5rem;
}

/* .github {
  background-color: white;
  border-radius: 50%;
} */
