.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.wrapper img {
  height: 7rem;
  padding: 1rem;
  box-shadow: 6px 6px 6px 5px #0b0c10;
  transition: 0.3s all ease-in-out;
}

.wrapper img:hover {
  box-shadow: 3px 3px 3px 3px #0b0c10;
  transform: scale(1.1);
}

.wrapper p {
  font-size: 20px;
  font-weight: bold;
  color: #45a29e;
  text-align: center;
  margin-top: 1rem;
}

/* .github {
  background-color: white;
  border-radius: 50%;
} */

@media (max-width: 1100px) {
}
.wrapper {
  padding: 0 3rem;
}
